Repository Microsoft/DirectXTK12: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

.azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml:
  schedules:
  - cron: 0 6 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: MINGW32_BUILD
    displayName: Minimalist GNU for Windows (MinGW32) BUILD_TESTING=ON
    steps:
    - checkout: self
  ...

.azuredevops/pipelines/DirectXTK12-GitHub.yml:
  schedules:
  - cron: 5 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

line endings for yaml
  .gitattributes
  .github/linters/.yaml-lint.yml
  CHANGELOG.md
  Inc/SpriteBatch.h
  Src/DualPostProcess.cpp
  Src/EffectCommon.h
  Src/ModelLoadSDKMESH.cpp
  Src/SpriteBatch.cpp
  Src/ToneMapPostProcess.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fixed typo
  .gitattributes
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Slim doesn't support powershell lint
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/lint.yml
  build/onefuzz-setup.ps1
Due: none

Fix invalid pipeline
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add YML to editorconfig
  .editorconfig
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CodeQL suppression syntax fix
  Audio/SoundCommon.cpp
  Audio/WaveBankReader.cpp
  Src/ModelLoadCMO.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CodeQL suppression syntax fix (#334)
  Audio/SoundCommon.cpp
  Audio/WaveBankReader.cpp
  Src/ModelLoadCMO.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Initial skeleton for GLTF support
  CMakeLists.txt
  Inc/Model.h
  Src/ModelLoadGLTF.cpp
  build/vcpkg.json
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

GameInput implementation updates for for GAMEINPUT_API_VERSION = 2
  Inc/GamePad.h
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

GameInput implementation updates for for GAMEINPUT_API_VERSION = 2 (#336)
  Inc/GamePad.h
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

July 2, 2025
  .nuget/directxtk12_desktop_2019.nuspec
  .nuget/directxtk12_desktop_win10.nuspec
  .nuget/directxtk12_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

July 9, 2025 (#337)
  .nuget/directxtk12_desktop_2019.nuspec
  .nuget/directxtk12_desktop_win10.nuspec
  .nuget/directxtk12_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

GitHub Actions using Windows on ARM64 native
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
Due: none

Add Spectre-mitigated libraries to the NuGet
  .nuget/directxtk12_desktop_2019.nuspec
  .nuget/directxtk12_desktop_2019.targets
  .nuget/directxtk12_desktop_win10.nuspec
  .nuget/directxtk12_desktop_win10.targets
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update GDK pipeline for package rename
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix build failure
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  build/SetupBWOI.cmd
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

windows-2019 image retired for ADO
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Build fix
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Added CoPilot instructions
  .github/copilot-instructions.md
Due: none

Lint review
  .github/copilot-instructions.md
Due: none

Copilot CR
  .github/copilot-instructions.md
Due: none

More CR
  .github/copilot-instructions.md
Due: none

Markdown lint
  .github/copilot-instructions.md
Due: none

GHA and ADO pipeline updates (#339)
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml
  .github/copilot-instructions.md
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Add Spectre-mitigated libraries to the NuGet (#340)
  .nuget/directxtk12_desktop_2019.nuspec
  .nuget/directxtk12_desktop_2019.targets
  .nuget/directxtk12_desktop_win10.nuspec
  .nuget/directxtk12_desktop_win10.targets
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix linter warning
  README.md
Due: none

CMake updates
  CMakeLists.txt
  Src/pch.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CMake updates (#343)
  CMakeLists.txt
  Src/pch.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update CoPilot instructions
  .github/copilot-instructions.md
  .gitignore
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

windows-2022 removed 10.0.22000.0
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK12-OneFuzz-Meshes.yml
  .azuredevops/pipelines/DirectXTK12-OneFuzz.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

noexcept feedback for Audio
  Audio/SoundCommon.cpp
  Inc/Audio.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

noexcept CR
  Inc/Keyboard.h
  Src/Keyboard.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

/profile build option for cmake
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

DebguEffect ctor should validate debugMode
  Src/DebugEffect.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

EnvironmentMapEffect ctor should validate mapping
  Src/EnvironmentMapEffect.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXTK12-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub.yml, Src/Shaders/CompileShaders.cmd
