Repository Microsoft/DirectXTK12: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

.azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: UWP_BUILD
    displayName: Universal Windows Platform (UWP)
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml:
  schedules:
  - cron: 0 6 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: MINGW32_BUILD
    displayName: Minimalist GNU for Windows (MinGW32) BUILD_TESTING=ON
    timeoutInMinutes: 30
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-Test.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK12-GitHub.yml:
  schedules:
  - cron: 5 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

Fix build break
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Unbreak
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix warning in MinGW
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix for MinGW 16.1
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

More DLL fixe
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add NPREffectFactory
  CMakeLists.txt
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.slnx
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDKX_2022.vcxproj
  DirectXTK_GDKX_2022.vcxproj.filters
  DirectXTK_GDKX_2026.vcxproj
  DirectXTK_GDKX_2026.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/NPREffectFactory.cpp
  Src/PBREffect.cpp
  Src/PBREffectFactory.cpp
  Src/Shaders/RootSig.fxh
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Migrate all VS solutions to slnx
  DirectXTK_Desktop_2022_Win10.sln
  DirectXTK_Desktop_2022_Win10.slnx
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.slnx
  DirectXTK_GDKX_2022.sln
  DirectXTK_GDKX_2022.slnx
  DirectXTK_GDK_2022.sln
  DirectXTK_GDK_2022.slnx
  DirectXTK_Windows10_2022.sln
  DirectXTK_Windows10_2022.slnx
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update pipelines
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  .azuredevops/templates/DirectXTK12-build-gdk.yml
  .azuredevops/templates/DirectXTK12-build-gdkx.yml
  .azuredevops/templates/DirectXTK12-build-uwp-arm64.yml
  .azuredevops/templates/DirectXTK12-build-uwp.yml
  .azuredevops/templates/DirectXTK12-build-win32.yml
  .github/workflows/msbuild.yml
  .github/workflows/testuwp.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Code review
  Src/NPREffect.cpp
  Src/PBREffect.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Use an absolute path for CompileShaders.cmd
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
Due: none

Pin GitHub Actions to full-length commit SHAs (#432)
  .github/dependabot.yml
Due: none

Use an absolute path for CompileShaders.cmd (#431)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Migrate all VS solutions to slnx (#426)
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  .azuredevops/templates/DirectXTK12-build-gdk.yml
  .azuredevops/templates/DirectXTK12-build-gdkx.yml
  .azuredevops/templates/DirectXTK12-build-uwp-arm64.yml
  .azuredevops/templates/DirectXTK12-build-uwp.yml
  .azuredevops/templates/DirectXTK12-build-win32.yml
  .github/workflows/msbuild.yml
  .github/workflows/testuwp.yml
  DirectXTK_Desktop_2022_Win10.sln
  DirectXTK_Desktop_2022_Win10.slnx
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.slnx
  DirectXTK_GDKX_2022.sln
  DirectXTK_GDKX_2022.slnx
  DirectXTK_GDK_2022.sln
  DirectXTK_GDK_2022.slnx
  DirectXTK_Windows10_2022.sln
  DirectXTK_Windows10_2022.slnx
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add SkinnedNPREffect (#425)
  CMakeLists.txt
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDKX_2022.vcxproj
  DirectXTK_GDKX_2022.vcxproj.filters
  DirectXTK_GDKX_2026.vcxproj
  DirectXTK_GDKX_2026.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/NPREffectFactory.cpp
  Src/PBREffect.cpp
  Src/PBREffectFactory.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
  Src/Shaders/RootSig.fxh
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Fix issue with clang build
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix issue with clang build (#434)
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Validate seek table bounds in WaveBankReader
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Validate seek table bounds in WaveBankReader (#435)
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update for latest D3DX12.h
  Src/d3dx12.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update for latest D3DX12.h (#436)
  Src/d3dx12.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Enable use of clang-format
  .clang-format-ignore
  .github/linters/.clang-format
  .github/workflows/lint.yml
  Src/Geometry.cpp
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix case
  .clang-format-ignore
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Keep some formatting
  Src/WICTextureLoader.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update script to match version
  Audio/SoundCommon.h
  Inc/Audio.h
  Inc/Effects.h
  Inc/GamePad.h
  Inc/GeometricPrimitive.h
  Inc/GraphicsMemory.h
  Inc/Model.h
  Inc/Mouse.h
  Inc/PostProcess.h
  Inc/ResourceUploadBatch.h
  Inc/SimpleMath.h
  Inc/SpriteBatch.h
  Inc/SpriteFont.h
  Src/pch.h
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Editorconfig intenting too strict for clang-format
  .github/linters/.editorconfig-checker.json
Due: none

Add missing inl files
  Inc/SimpleMath.inl
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Workaround for some mingw issues
  .github/workflows/mingw.yml
Due: none

Update readme
  README.md
Due: none

Script update
  build/Format.ps1
Due: none

Fix for ADO pipeline
  .azuredevops/pipelines/DirectXTK12-SDL.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix for ADO pipeline (#442)
  .azuredevops/pipelines/DirectXTK12-SDL.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor code review update
  Src/LinearAllocator.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor code review update (#443)
  Src/LinearAllocator.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Remove failing cases due to GHA image changes
  .github/workflows/msbuild.yml
Due: none

Update to use /await:strict for UWP
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Remove failing cases due to GHA image changes (#447)
  .github/workflows/msbuild.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub.yml, Src/Shaders/CompileShaders.cmd
