Repository Microsoft/DirectXTK12: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

.azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml:
  schedules:
  - cron: 0 6 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: MINGW32_BUILD
    displayName: Minimalist GNU for Windows (MinGW32) BUILD_TESTING=ON
    steps:
    - checkout: self
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-Test.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK12-GitHub.yml:
  schedules:
  - cron: 5 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

Add more invalid_argument checks for ctors
  Inc/DescriptorHeap.h
  Src/BasicPostProcess.cpp
  Src/DescriptorHeap.cpp
  Src/DualPostProcess.cpp
  Src/EffectCommon.h
  Src/EffectPipelineStateDescription.cpp
  Src/EffectTextureFactory.cpp
  Src/GeometricPrimitive.cpp
  Src/Model.cpp
  Src/PrimitiveBatch.cpp
  Src/SpriteBatch.cpp
  Src/SpriteFont.cpp
  Src/ToneMapPostProcess.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

One more check
  Src/EffectFactory.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update MinGW timeouts
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Code review and CoPilot instructions update (#344)
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK12-OneFuzz-Meshes.yml
  .azuredevops/pipelines/DirectXTK12-OneFuzz.yml
  .github/copilot-instructions.md
  .gitignore
  Audio/SoundCommon.cpp
  CMakeLists.txt
  Inc/Audio.h
  Inc/DescriptorHeap.h
  Inc/Keyboard.h
  Src/BasicPostProcess.cpp
  Src/DebugEffect.cpp
  Src/DescriptorHeap.cpp
  Src/DualPostProcess.cpp
  Src/EffectCommon.h
  Src/EffectFactory.cpp
  Src/EffectPipelineStateDescription.cpp
  Src/EffectTextureFactory.cpp
  Src/EnvironmentMapEffect.cpp
  Src/GeometricPrimitive.cpp
  Src/Keyboard.cpp
  Src/Model.cpp
  Src/PrimitiveBatch.cpp
  Src/SpriteBatch.cpp
  Src/SpriteFont.cpp
  Src/ToneMapPostProcess.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Upgrade to CMake 3.21
  CMakeLists.txt
  CMakePresets.json
  Src/LoaderHelpers.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update readme
  README.md
Due: none

Fix build berak
  Src/PlatformHelpers.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix build breaks
  Src/LoaderHelpers.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor change to improve APITest
  Inc/DescriptorHeap.h
  Inc/GraphicsMemory.h
  Src/GraphicsMemory.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Upgrade to CMake 3.21 (#348)
  CMakeLists.txt
  CMakePresets.json
  Inc/DescriptorHeap.h
  Inc/GraphicsMemory.h
  README.md
  Src/GraphicsMemory.cpp
  Src/LoaderHelpers.h
  Src/PlatformHelpers.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update CompileShader build script
  Src/Shaders/CompileShaders.cmd
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Update copysource script
  build/copysourcetree.ps1
Due: none

Update cmake presets
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

GamePad/Keyboard/Mouse updated for GameInput v3
  Inc/GamePad.h
  Inc/Keyboard.h
  Inc/Mouse.h
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Code review feedback
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

GamePad/Keyboard/Mouse updated for GameInput v3 (#353)
  Inc/GamePad.h
  Inc/Keyboard.h
  Inc/Mouse.h
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update env vars for script
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Lint
  build/copysourcetree.ps1
Due: none

Update for GDK October 2025 changes (#352)
  CMakePresets.json
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2022.vcxproj
  Src/Shaders/CompileShaders.cmd
  build/copysourcetree.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Add October 2025 new layout x64+Xbox projects
  DirectXTK_GDKX_2022.sln
  DirectXTK_GDKX_2022.vcxproj
  DirectXTK_GDKX_2022.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor code review for invalid args
  Src/ToneMapPostProcess.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Make support new or old layout x64 cases
  DirectXTK_GDKX_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Code review for invalid args validation
  Audio/DynamicSoundEffectInstance.cpp
  Audio/SoundCommon.cpp
  Audio/SoundCommon.h
  Audio/SoundEffect.cpp
  Audio/WaveBank.cpp
  Audio/WaveBankReader.cpp
  Inc/DirectXHelpers.h
  Src/BinaryReader.h
  Src/CommonStates.cpp
  Src/DirectXHelpers.cpp
  Src/PBREffectFactory.cpp
  Src/ResourceUploadBatch.cpp
  Src/SpriteBatch.cpp
  Src/SpriteFont.cpp
  Src/ToneMapPostProcess.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor readme update
  README.md
Due: none

Code review for invalid args validation (#355)
  Audio/DynamicSoundEffectInstance.cpp
  Audio/SoundCommon.cpp
  Audio/SoundCommon.h
  Audio/SoundEffect.cpp
  Audio/WaveBank.cpp
  Audio/WaveBankReader.cpp
  Inc/DirectXHelpers.h
  README.md
  Src/BinaryReader.h
  Src/CommonStates.cpp
  Src/DirectXHelpers.cpp
  Src/PBREffectFactory.cpp
  Src/ResourceUploadBatch.cpp
  Src/SpriteBatch.cpp
  Src/SpriteFont.cpp
  Src/ToneMapPostProcess.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update target
  DirectXTK_GDKX_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor fix
  DirectXTK_GDKX_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Support old layouts
  DirectXTK_GDKX_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update GDK Dev17 pipeline
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  .azuredevops/templates/DirectXTK12-build-gdkx.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix job name conflict
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add October 2025 GDK x64+ARM64 projects
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

code reivew
  DirectXTK_GDKX_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add tests to pipeline
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Pipeline fix
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add more ADO logging
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml
  build/LogInfo.targets
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Add October 2025 GDK new layout x64+Xbox projects (#354)
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml
  .azuredevops/templates/DirectXTK12-build-gdkx.yml
  DirectXTK_GDKX_2022.sln
  DirectXTK_GDKX_2022.vcxproj
  DirectXTK_GDKX_2022.vcxproj.filters
  build/LogInfo.targets
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub.yml, Src/Shaders/CompileShaders.cmd
