Repository Microsoft/DirectXTK12: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

.azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: UWP_BUILD
    displayName: Universal Windows Platform (UWP)
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml:
  schedules:
  - cron: 0 6 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: MINGW32_BUILD
    displayName: Minimalist GNU for Windows (MinGW32) BUILD_TESTING=ON
    timeoutInMinutes: 30
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-Test.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK12-GitHub.yml:
  schedules:
  - cron: 5 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

Update GitHub action for MSBuild on ARM64 native (#398)
  .github/workflows/msbuild.yml
  Src/Shaders/CompileShaders.cmd
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Update copilot instructions
  .github/copilot-instructions.md
Due: none

Code review
  .github/copilot-instructions.md
Due: none

Added guard for 32-bit overflow in spritefont reading (#399)
  .github/copilot-instructions.md
  Src/BinaryReader.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add extra validation to spritefont loader
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add extra validation to spritefont loader (#400)
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CoPilot instruction improvements
  .github/copilot-instructions.md
  Inc/Model.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update GHA to ignore copilot instructions
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
  .github/workflows/clangcl.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
Due: none

Copilot review
  .github/copilot-instructions.md
Due: none

CoPilot instruction improvements (#401)
  .github/copilot-instructions.md
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
  .github/workflows/clangcl.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  Inc/Model.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CMake update for v4.1 change
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CMake update for v4.1 change (#402)
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CoPilot code review feedback
  Audio/WaveBankReader.cpp
  Src/BinaryReader.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Also fix MinGW issue
  Src/BinaryReader.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CoPilot code review feedback (#403)
  Audio/WaveBankReader.cpp
  Src/BinaryReader.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor CMake code review
  CMakeLists.txt
  build/JoinPaths.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Mouse::SetDpi was missing from DLL version
  Inc/Mouse.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Mouse::SetDpi was missing from DLL version (#407)
  Inc/Mouse.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor CMake code review (#406)
  CMakeLists.txt
  build/JoinPaths.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

May 2026
  .nuget/directxtk12_desktop_win10.nuspec
  .nuget/directxtk12_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor code review feedback
  Src/DDS.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

May 2026 (#408)
  .nuget/directxtk12_desktop_win10.nuspec
  .nuget/directxtk12_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  Src/DDS.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add complete release
  Inc/Keyboard.h
  Inc/Mouse.h
  build/completerelease.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update VCPKG script
  build/updatevcpkg.ps1
Due: none

Code review
  build/updatevcpkg.ps1
Due: none

Pick powershell lint
  .github/linters/.powershell-psscriptanalyzer.psd1
  build/completerelease.ps1
Due: none

Add release checklist to copilot instructions
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

Fix typo
  .github/copilot-instructions.md
Due: none

COde review
  build/preparerelease.ps1
Due: none

COde review
  build/promotenuget.ps1
Due: none

Minor update for Mouse/Keyboard header (#409)
  .github/copilot-instructions.md
  .github/linters/.powershell-psscriptanalyzer.psd1
  Inc/Keyboard.h
  Inc/Mouse.h
  build/completerelease.ps1
  build/preparerelease.ps1
  build/promotenuget.ps1
  build/updatevcpkg.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update CMake BULID_SHARED_LIBS=ON linker settings
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Cmake update
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add policy file
  .azuredevops/policies/branchClassification.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Pick yaml lint
  .azuredevops/policies/branchClassification.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update CMake BUILD_SHARED_LIBS=ON linker settings (#410)
  .azuredevops/policies/branchClassification.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Convert release instructions to CoPilot skill
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  .gitignore
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub.yml, Src/Shaders/CompileShaders.cmd
