Repository Microsoft/DirectXTK12: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

.azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: UWP_BUILD
    displayName: Universal Windows Platform (UWP)
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml:
  schedules:
  - cron: 0 6 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: MINGW32_BUILD
    displayName: Minimalist GNU for Windows (MinGW32) BUILD_TESTING=ON
    timeoutInMinutes: 30
  ...

.azuredevops/pipelines/DirectXTK12-GitHub-Test.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK12-GitHub.yml:
  schedules:
  - cron: 5 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

Trim down ADO dups
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Fix GHA break
  .github/workflows/clangcl.yml
Due: none

VS 2026 projects (#378)
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/test.yml
  DirectXTK_Desktop_2026.slnx
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  build/CompilerAndLinker.cmake
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Fix dxc and fxc paths for non-Visual Studio builds
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix dxc and fxc paths for non-Visual Studio builds (#379)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CMake code review
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

CMake code review (#380)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update CoPilot instructions
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

More content
  .github/copilot-instructions.md
Due: none

VS 2026 projects for GDKX
  DirectXTK_GDKX_2026.slnx
  DirectXTK_GDKX_2026.vcxproj
  DirectXTK_GDKX_2026.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update CoPilot instructions (#386)
  .github/copilot-instructions.md
Due: none

Add October 2025 GDK x64+ARM64 projects
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add GDK arm64 to pipeline for 2510 or later
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Build ARM64 tests
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Need nuget restore
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add GDK x64+ARM64 projects (#356)
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK-Dev17.yml
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

VS 2026 projects for GDKX (#387)
  DirectXTK_GDKX_2026.slnx
  DirectXTK_GDKX_2026.vcxproj
  DirectXTK_GDKX_2026.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Remove VS 2019 projects
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml
  .azuredevops/templates/DirectXTK12-build-gdk.yml
  .azuredevops/templates/DirectXTK12-build-win32.yml
  .github/workflows/msbuild.yml
  .nuget/directxtk12_desktop_2019.nuspec
  .nuget/directxtk12_desktop_2019.targets
  DirectXTK_Desktop_2019_Win10.sln
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2019_Win10.vcxproj.filters
  DirectXTK_GDK_2019.sln
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2019.vcxproj.filters
  README.md
  build/Directory.Build.props
  build/SetupBWOI.targets
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Use ' instead of `
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_GDKW_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Remove legacy toolsversion
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix lint
  .github/workflows/msbuild.yml
Due: none

Update YAML
  .azuredevops/templates/DirectXTK12-build-win32.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

SpriteFont updated with option to force pixel alignment
  Inc/SpriteFont.h
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Remove VS 2019 projects (#391)
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml
  .azuredevops/templates/DirectXTK12-build-gdk.yml
  .azuredevops/templates/DirectXTK12-build-win32.yml
  .github/workflows/msbuild.yml
  .nuget/directxtk12_desktop_2019.nuspec
  .nuget/directxtk12_desktop_2019.targets
  DirectXTK_Desktop_2019_Win10.sln
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2019_Win10.vcxproj.filters
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDK_2019.sln
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2019.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  README.md
  build/Directory.Build.props
  build/SetupBWOI.targets
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

SpriteFont updated with option to force pixel alignment (#392)
  Inc/SpriteFont.h
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

March 31, 2026
  .nuget/directxtk12_desktop_win10.nuspec
  .nuget/directxtk12_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  SECURITY.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

March 31, 2026 (#393)
  .nuget/directxtk12_desktop_win10.nuspec
  .nuget/directxtk12_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  SECURITY.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update copilot instructions
  .github/copilot-instructions.md
Due: none

Added guard for 32-bit overflow in spritefont reading
  Src/BinaryReader.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add overflow check to XWB reader
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add max alignment check
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add overflow check to XWB reader (#397)
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update project to use arm64 DXC on arm64 native
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_GDKW_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update GHA
  .github/workflows/msbuild.yml
  DirectXTK_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Revert project changes
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Avoid using x86 HLSL compiler
  Src/Shaders/CompileShaders.cmd
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Force correct arch for MSBuild
  .github/workflows/msbuild.yml
Due: none

Path conditions:
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub.yml, Src/Shaders/CompileShaders.cmd
