Repository Microsoft/DirectXTK12: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK12-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK12-GitHub.yml, Src/Shaders/CompileShaders.cmd

Pick markdown lint
  .github/skills/release/SKILL.md
Due: none

More code review
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxtk12.cmd
Due: none

Code review
  .github/skills/release/SKILL.md
Due: none

Feedabck
  .github/skills/directxtk12-usage/SKILL.md
  .github/skills/directxtk12-usage/reference/overview.md
Due: none

Pick markdown lint
  .github/skills/directxtk12-usage/reference/overview.md
Due: none

Move usage skill to public location
  .github/copilot-instructions.md
  README.md
  skills/directxtk12-usage/SKILL.md
  skills/directxtk12-usage/reference/overview.md
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update readme
  README.md
Due: none

Update YAML front-matter
  .github/copilot-instructions.md
  skills/directxtk12-usage/SKILL.md
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add tutorial skill
  skills/directxtk12-tutorial/SKILL.md
  skills/directxtk12-tutorial/assets/cat.png
  skills/directxtk12-tutorial/assets/courier.spritefont
  skills/directxtk12-tutorial/reference/nextsteps.md
  skills/directxtk12-tutorial/reference/step0.md
  skills/directxtk12-tutorial/reference/step1.md
  skills/directxtk12-tutorial/reference/step2.md
  skills/directxtk12-tutorial/reference/step3.md
  skills/directxtk12-tutorial/reference/step4.md
  skills/directxtk12-tutorial/reference/step5.md
  skills/directxtk12-tutorial/reference/step6.md
  skills/directxtk12-tutorial/reference/step7.md
  skills/directxtk12-tutorial/reference/tutorial-steps.md
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Pick markdown lint
  skills/directxtk12-tutorial/reference/step1.md
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Add CoPilot skills (#412)
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxtk12.cmd
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  .gitignore
  README.md
  skills/directxtk12-tutorial/SKILL.md
  skills/directxtk12-tutorial/assets/cat.png
  skills/directxtk12-tutorial/assets/courier.spritefont
  skills/directxtk12-tutorial/reference/nextsteps.md
  skills/directxtk12-tutorial/reference/step0.md
  skills/directxtk12-tutorial/reference/step1.md
  skills/directxtk12-tutorial/reference/step2.md
  skills/directxtk12-tutorial/reference/step3.md
  skills/directxtk12-tutorial/reference/step4.md
  skills/directxtk12-tutorial/reference/step5.md
  skills/directxtk12-tutorial/reference/step6.md
  skills/directxtk12-tutorial/reference/step7.md
  skills/directxtk12-tutorial/reference/tutorial-steps.md
  skills/directxtk12-usage/SKILL.md
  skills/directxtk12-usage/reference/overview.md
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix warnings when upgraded to clang 22
  CMakeLists.txt
  Src/PlatformHelpers.h
  Src/pch.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Fix warnings when upgraded to clang 22 (#415)
  CMakeLists.txt
  Src/PlatformHelpers.h
  Src/pch.h
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Additional customization options for SpriteBatch
  Inc/SpriteBatch.h
  Src/SpriteBatch.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

MinGW update and pipeline updates
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml
  .github/workflows/mingw.yml
  .github/workflows/vcpkg.yml
  Src/ResourceUploadBatch.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Looks like MinGW dxguid added DX12 id in 16
  CMakePresets.json
  Src/ResourceUploadBatch.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Workaround for MinGW audio failure
  Audio/AudioEngine.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Minor code review
  .github/workflows/vcpkg.yml
Due: none

Try enable test
  .github/workflows/mingw.yml
Due: none

Add tests
  .github/workflows/mingw.yml
Due: none

Add fix for D3D12
  .github/workflows/mingw.yml
Due: none

oops
  .github/workflows/mingw.yml
Due: none

Trim more redundant pipelines
  .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK12-GitHub-Test-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Build UWP tests
  .github/workflows/testuwp.yml
Due: none

Try NuGet restore from GHA
  .github/workflows/testuwp.yml
Due: none

Update MinGW GitHub action to cover more compiler versions
  .github/workflows/mingw.yml
  README.md
Due: none

Update readme
  .github/copilot-instructions.md
  README.md
Due: none

Pick lint
  .github/workflows/mingw.yml
Due: none

Update MinGW GitHub action to cover more compiler versions (#423)
  .github/copilot-instructions.md
  .github/workflows/mingw.yml
  README.md
Due: none

Code review
  Src/NPREffect.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

NPREffect to support cel shading, gooch, etc.
  CMakeLists.txt
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDKX_2022.vcxproj
  DirectXTK_GDKX_2022.vcxproj.filters
  DirectXTK_GDKX_2026.vcxproj
  DirectXTK_GDKX_2026.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
  Src/Shaders/RootSig.fxh
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Add texture support to NPREffect
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
  Src/Shaders/RootSig.fxh
  Src/Shaders/Structures.fxh
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Fix specular
  Src/NPREffect.cpp
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Specular smoothing and rim lighting
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Update copilot instr
  .github/copilot-instructions.md
Due: none

Add MatCap shading
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
  Src/Shaders/RootSig.fxh
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Code review
  Src/DebugEffect.cpp
  Src/EffectCommon.cpp
  Src/EffectCommon.h
  Src/NPREffect.cpp
  Src/PBREffect.cpp
Due: .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml

Adds NPREffect to library (#414)
  .github/copilot-instructions.md
  CMakeLists.txt
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDKX_2022.vcxproj
  DirectXTK_GDKX_2022.vcxproj.filters
  DirectXTK_GDKX_2026.vcxproj
  DirectXTK_GDKX_2026.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/DebugEffect.cpp
  Src/EffectCommon.cpp
  Src/EffectCommon.h
  Src/NPREffect.cpp
  Src/PBREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
  Src/Shaders/RootSig.fxh
  Src/Shaders/Structures.fxh
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml

Add SkinnedNPREffect
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
  Src/Shaders/RootSig.fxh
Due: .azuredevops/pipelines/DirectXTK12-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK12-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK12-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK12-GitHub.yml
